/* Title */
.title {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
}

/* Containers */
.plot-container {
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    width: 40%;
    margin: auto;
    padding: 0px;
}

/* Plot Titles */
.plot-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Content */
.plot-content {
    margin-top: 20px;
}

.page {
    width: 60%;
    height: 4800px;
    background-color: darkgray;
    margin: auto;
	padding: 50px;
	padding-top: 10px;
}

.space {
    margin-bottom: 20px;
}

.vis-container {
    border-radius: 10px;
    width: fit-content;
}

.plot-section {
    background-color: rgb(250, 139, 139);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pure-g {
    margin-bottom: 40px;
}

.highlight {
    color: #8B0000;
    font-weight: bold;
    font-size: 30px;
}